# Visual Studio 自动生成目录
.vs/
.vscode/
.idea/
.git/
*.suo
*.user
*.userosscache
*.sln.docstates

# .NET 编译产物
bin/
obj/
*.dll
*.exe
*.pdb
*.cache
*.msi
*.iso
*.bak

# NuGet 包（由 restore 自动下载）
packages/

# Copilot/索引文件
**/CopilotIndices/
**/FileContentIndex/

# 操作系统临时文件
.DS_Store
Thumbs.db
*.tmp
*.log


# Avalonia 临时文件
**/obj/Debug/**/apphost.exe
**/obj/Debug/**/ref/
**/obj/Debug/**/refint/
WebAPI/logs


Properties/

# Playwright 自动下载的驱动
.playwright/

# 忽略整个 Avalonia 项目（你要的效果）
AvaloniaApplication1/


